<div class="container">

    <h1># of times a name was greeted</h1>

    <hr>


    <h3>Hello, </h3>

    <h5> You greeted <strong>{{name}}</strong> {{count}} times.</h5>

    <br>
    <br>
    <br>


    <div>
        <a href="/greeted/"> <button class="button-primary" name="button">Back</button> </a>
    </div>
</div>