<div class="container">
    <div>
        <h1>Greet</h1>
        <div class="message"></div>
    </div>
    <div>
        <hr>
        <form action="/greetings" method="POST">
            <input type="text" name="user_name" placeholder="please enter your name" class="greetText">

            <div class="radio">

                <input type="radio" name="greetingRadio" class="greetingRadio" value="IsiXhosa">
                <span class="checkmark">IsiXhosa</span>

                <input type="radio" name="greetingRadio" class="greetingRadio" value="English">
                <span class="checkmark">English</span>

                <input type="radio" name="greetingRadio" class="greetingRadio" value="Afrikaans">
                <span class="checkmark">Afrikaans</span>

            </div>
            <button class="button-primary" type="submit" name="button">Greet Me</button>
            <br>
            <button class="button-primary" type="reset" name="button">Reset</button>
        </form>

        <div class="names" class="nameInput">
            {{message}}
        </div>


        <div class="myGreetCounter">
            {{counter}}
        </div>
        <a href="/greeted">Show</a>
    </div>
</div>