<div class="container">

    <h1>Names greeted</h1>

    <hr>

<h6>
    <ul>
        {{#each user}}
        <li><a href="/amount/{{this.name}}">{{this.name}}</a></li>

        {{/each}}
    </ul>

</h6>


</div>