<div class="container">
    <div>
        <h1>Greet</h1>
        {{#if messages}}
        <div class="textbox">
            <h6>{{messages.error}}</h6>
            {{/if}}
        </div>
    </div>
    <div>
        <hr>
        <form action="/" method="POST">
            <input type="text" name="name" placeholder="please enter your name" class="greetText">

            <div class="radio">

                <input type="radio" name="language" class="greetingRadio" value="IsiXhosa">
                <span class="checkmark">IsiXhosa</span>

                <input type="radio" name="language" class="greetingRadio" value="English">
                <span class="checkmark">English</span>

                <input type="radio" name="language" class="greetingRadio" value="Afrikaans">
                <span class="checkmark">Afrikaans</span>

            </div>
            <button class="button-primary" type="submit" name="button">Greet Me</button> <a href="/reset"> <button
                    class="button-primary" type="button" name="button">Reset</button></a>


        </form>


        <div class="">
            <h5>{{message}}</h5>
        </div>

        <div>
            <h4>{{counter}}</h4>
        </div>
        
        <div>
        <h6>
            <a href=" /greeted">Show greeted names</a>
            </h6>
        </div>
    </div>
</div>